html{
    background-color:#a8d0d0 ;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: relative;
    
}

h1 {
    position: absolute;
    margin: 0px;
    text-align: center;
    z-index: 1;
    font-size: 50px;
    width: 100%;
    top: 210px;
    
}

.site-title img {
    height: 343px;
    align-items: center;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* making sure the image is in the center cuts off the unneeded parts */
}

h2 {
    margin: 12px;
    }

.main {
    background-color: #d4e9e7;
    width: 1025px;
    align-items: center;

    margin: 0px;
    }

.site-title h1 {
    color: white;
}
.starfish-description img {
    width: 252px;
    float: left;
    margin: 10px;
}

.starfish-description p {
    margin: 30px;
    }


.starfish-description::after {
    /* Making sure the content behind this will not wrap around the image  */
    content: "";
    clear: both;
    display: block;
    }

body nav ul {
        flex-wrap: nowrap;
        margin: 0px;
}

nav ul li {
    list-style: none;
    display: inline;
    /* Makes the three nav options horizontal  */
    font-size: 20px;
}

nav ul li:nth-child(1) {
    /* adds the small line in between home and story  */
    padding: 0px 125px;
    border-right: 1px solid;
}

nav ul li:nth-child(2) {
    padding: 0px 125px;
    border-right: 1px solid;
}

nav ul li:nth-child(3) {
    padding: 0px 125px;
}

a {
    text-decoration: none;
    color: inherit;
}

section div form input {
    width: 970px;
    margin: 12px;
}

section div form label:nth-child(3) {
    height: 100px;
}
section div form label {
    margin: 12px;
}

.contact-info{
    border-color: black;
    border: 1px solid;
    padding-top: 35px;
    margin: 12px;
}

.checkbox {
    display: inline;
}

body {
    border: 50px;
    padding: 20px;

}

button {
    background-color: transparent;
    padding-bottom: 10px;
    margin: 12px;
}

h3 {
    margin: 12px;
}

footer {
    text-align: right;
    margin: 20px;
    border-bottom: 20px;
}
